@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  box-sizing: border-box;
  font-size: 16px;

  --bg-color: #fef6e4;
  --headline-color: #001858;
  --text-color: #172c66;
  --code-block-color: #f582ae;
  --code-color: #001858;
  --border-color: #001858;
  --nav-color: #f3d2c1;
  --nav-hover-color: #8bd3dd;

  --roboto: "Roboto", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
  font-family: var(--roboto);
}

/* nav */
nav > header {
  margin: 2em;
}

.title {
  text-align: center;
  font-size: 2.2rem;
  color: var(--headline-color);
}

.nav {
  height: 20em;
  border: 1px solid var(--border-color);
  background-color: var(--nav-color);
  overflow: auto;
}

.nav > li {
  list-style: none;
  border-bottom: 1px solid var(--border-color);
}

.nav-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  padding: 0.8em 1.6em;
  color: var(--border-color);
}

.nav-link:hover {
  font-weight: 700;
  background-color: var(--nav-hover-color);
}

@media screen and (min-width: 45em) {
  /* For desktop */
  nav {
    max-width: 20em;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
  }

  nav > header {
    margin: 1em;
  }

  .title {
    flex: 1;
  }

  .nav {
    height: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .nav > li {
    flex: 1;
  }

  .nav-link {
    display: flex;
    align-items: center;
  }
}

/* back to top */
.back-to-top {
  display: block;
  height: 2rem;
  width: 2rem;
  position: sticky;
  top: calc(100vh - 6em);
  left: calc(100vw - 6em);
  background-color: #8bd3dd;
  border: 1px solid var(--border-color);
  border-radius: 0.2em;
}

.back-to-top > a {
  display: block;
  width: 100%;
  height: 100%;
}

.back-to-top > a::after {
  width: 0;
  height: 0;
  content: "";
  border: 0.7em solid;
  border-color: var(--text-color) transparent;
}

@media screen and (min-width: 45em) {
  .back-to-top {
    display: none;
  }
}

/* main */

.main-doc {
  margin-bottom: 5em;
}

@media screen and (min-width: 45em) {
  /* For desktop */
  .main-doc {
    position: absolute;
    left: 20em;
    overflow-y: auto;
    margin-top: 5em;
  }
}

.main-section {
  padding: 1em 2em;
}

.section-title {
  font-size: 1.6rem;
  margin: 1em 0;
  color: var(--headline-color);
}

.section-info {
  color: var(--text-color);
}

.section-info > * + * {
  margin-top: 0.7em;
}

.section-info > ul {
  margin-left: 2em;
}

.section-info > ul > li {
  margin-top: 0.7em;
}

code {
  display: block;
  border-radius: 0.2em;
  padding: 0.8em;
  color: var(--code-color);
  background-color: var(--code-block-color);
}
